/* Normalize or reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: #fbf3f2;
    color: #fbf3f2;
}
